body {
 font-family: Arial, sans-serif;
 margin: 0;
 /* background-color: #7b411c; */
}
nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 16px 32px;
 border-bottom: 1px solid #ddd;
}
nav ul {
 display: flex;
 list-style: none;
 gap: 20px;
}
nav a {
 text-decoration: none;
 color: #333;
 font-weight: 500;
}
button {
 cursor: pointer;
 padding: 6px 12px;
}
main {
 padding: 40px;
}

.produit, .client {
 border: 1px solid #ddd;
 border-radius: 8px;
 padding: 12px;
 width: 300px;
 transition: transform 0.2s;
}


.client:hover, .produit:hover {
 transform: scale(1.05);
  transition: transform 0.2s;
}
.produit img {
 max-width: 100%;
 border-radius: 4px;
}
#produitsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
h1{
    DISPLAY: flex;
    justify-content: center;
}
/* #logo{
    width: 150px;
    
} */

.parallax{
    #logo: 150px;
} 